<header class="main-header">
  <p-autoComplete
    [(ngModel)]="searchTerm"
    [suggestions]="filteredUsers"
    (completeMethod)="filterUsers($event)"
    field="first_name"
    (onSelect)="onUserSelect($event)"
    placeholder="Search for users by ID"
  >
    <ng-template let-user pTemplate="item">
      <a class="card-link" href="/user/{{ user?.id }}">
        <div class="card">
          <p-avatar
            image="{{ user?.avatar }}"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
          <div class="card-details">
            <p class="card-upper">{{ user?.email }}</p>
            <h2 class="card-title">
              {{ user?.first_name }} {{ user?.last_name }}
            </h2>
          </div>
        </div>
      </a>
    </ng-template>
  </p-autoComplete>
</header>
